<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.deep.photoeditor">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".PhotoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.PhotogifPublicsetting"
            android:parentActivityName=".activity.PhotogifPublicsetting"/>
        <activity
            android:name=".editCombinePicture"
            android:parentActivityName=".editCombinePicture" />
        <activity
            android:name=".GifMain"
            android:parentActivityName=".GifMain" />
        <activity
            android:name=".signUp"
            android:parentActivityName=".signUp" />
        <activity
            android:name=".activity.WorkMemeTempInfoActivity"
            android:parentActivityName=".activity.WorkMemeTempInfoActivity" />
        <activity
            android:name=".activity.WorkMemeInfoActivity"
            android:parentActivityName=".activity.WorkMemeInfoActivity" />
        <activity
            android:name=".activity.SearchTagInfoActivity"
            android:parentActivityName=".activity.SearchTagInfoActivity" />
        <activity
            android:name=".activity.ColMemeTmpActivity"
            android:parentActivityName=".activity.ColMemeTmpActivity" />
        <activity
            android:name=".activity.WorMemeTmpActivity"
            android:parentActivityName=".activity.WorMemeTmpActivity" />
        <activity
            android:name=".activity.WorEldTmpActivity"
            android:parentActivityName=".activity.WorEldTmpActivity" />
        <activity
            android:name=".activity.ColMemeActivity"
            android:parentActivityName=".activity.ColMemeActivity" />
        <activity
            android:name=".activity.ColEldActivity"
            android:parentActivityName=".activity.ColEldActivity" />
        <activity
            android:name=".activity.ColGifActivity"
            android:parentActivityName=".activity.ColGifActivity" />
        <activity
            android:name=".activity.ColEldTmpActivity"
            android:parentActivityName=".activity.ColEldTmpActivity" />
        <activity
            android:name=".activity.WorMemeActivity"
            android:parentActivityName=".activity.WorMemeActivity" />
        <activity
            android:name=".activity.WorEldActivity"
            android:parentActivityName=".activity.WorEldActivity" />
        <activity
            android:name=".activity.WorGifActivity"
            android:parentActivityName=".activity.WorGifActivity" />
        <activity
            android:name=".login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".editShare" />
        <activity android:name=".activity.GifShareActivity" />
        <activity
            android:name=".editSetname"
            android:parentActivityName=".editSetname" />
        <activity
            android:name=".editPublicsetting"
            android:parentActivityName=".editPublicsetting" />
        <activity
            android:name=".EditMain"
            android:parentActivityName=".EditMain" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditImageActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TemplateInfoActivity"
            android:parentActivityName=".activity.TemplateInfoActivity" />
        <activity
            android:name=".activity.PublicMemeInfoActivity"
            android:parentActivityName=".activity.PublicMemeInfoActivity" />

        <activity android:name=".gifmake.GifMakeActivity"
            android:parentActivityName=".gifmake.GifMakeActivity"/>

        <activity android:name=".gifmake.VideoToGifActivity"
            android:parentActivityName=".gifmake.VideoToGifActivity"/>
        <activity android:name=".gifmake.FilmToGifActivity"/>
        <activity android:name=".gifmake.SaveImageActivity"/>

        <activity
            android:name=".searchMoreTag"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".image_selector.MultiImageSelectorActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>